*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(cat.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.nav-bar
{
    background: rgb(0,0,0,0.5);
    height:50px;
}

.logo
{
    margin: 50px 125px;
    height: 100px;
}

.menu
{
    float: center;
    list-style: none;
    margin: 50px;
}


.menu li a{
    display: inline-block;
    margin: 15px 50px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 3px;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 3px;
    border: 1px solid #fff;
}

.menu li a:hover{
    background: #fff;
    transition: -4s;
    color: #000;
}


