*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #ffe400;
    
}

.rating-css{
    height: 250px;
    width: 400px;
    background: #101012;
    border: 4px solid #838383;
    padding: 20px;
}
.rating-css div{
    color:#ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

.rating-css input{
    display: none;
    
}
.rating-css input + label{
    font-size: 60px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}
.rating-css input:checked + label ~ label{
    color: #838383;
    
}

.rating-css label:active{
    transform: scale(0,8);
    transition: 0.3s ease;
}