body{
    background-image: url(search.jpg);
    
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2,h1{
    font-family: "Righteous", sans-serif;
}

#header{
    font-size: 3rem;
}

.book-list{
    margin-top: 294px;
    visibility: hidden;
}