
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("sports.jpg");
}

}

body{
    background: #eee;
    font-family: "Trebuchet MS" ,Helvetica, sans-serif;
}
.container{
    width: 96%;
    margin: 20px auto;
}
h1{
    font-family:Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
    border-left: 2px solid #1abc9c;
}

.book{
    width: 48%;
    float: left;
    background: #fff;
    margin: 5px;
    padding: 10px;
}
.con{
    width: 15%;
    float: left;
    line-height: 150px;
}
button{
    background: #1abc9c;
    border-radius: 7px;
    padding: 6px 6px;
    color: green;
    float: right;
    cursor: pointer;
}