*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(l1.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    
}

.nav-bar
{
    background: rgb(0,0,0,0.5);
    height:50px;
}

.logo
{
    margin: 50px 125px;
    height: 100px;
}

.menu
{
    float: right;
    list-style: none;
    margin: 20px;
}


.menu li a{
    display: inline-block;
    margin: 10px 50px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border: 1px solid #fff;
}

.menu li a:hover{
    background: #fff;
    transition: -4s;
    color: #000;
}

.welcome{
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: darkblue;
    top: 160px;
    
}

.welcome h1{
    font-size: 5000px;
    font-display: block;
    margin: 45px;
}

